*
{
  margin: 0;
}
body
{
  margin: 0;
}
.container
{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid black; */
}
.nav{
  background-color: rgb(61, 61, 61);
}
.nav ul
{
  list-style: none;
  display: flex;
}
.nav ul li{
  padding: 10px;
}
a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.main
{
  /* border: 2px solid green; */
  margin: 1em;
  border: 1px solid black;
  /* border-radius: 25px; */
  display: grid;
  gap: 5px;
}
.head{
  /* border: 1px solid red; */
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(61, 61, 61);

}
.body
{
  border: 3px solid black;
}
.details
{
  text-align: center;
}
